{% extends "bootstrap/base.html" %}
{%block title%}
库存盘点
{%endblock title%}
{% block content -%}
<div>
    <textarea name="item" id="item" cols="30" rows="10"></textarea>
</div>
{%- endblock content %}

{% block scripts %}
{{super()}}
<script>
    //按键事件
    document.onkeydown = function (event) {
        console.log(event)
        var e = event || window.event;
        var keynum = window.event ? e.keyCode : e.which;
        if (e.keyCode == 32) {
            event.returnValue = false;
        }
        if (e && (e.keyCode == 13 || e.keyCode == 9)) {
            console.log("11")
        }
        else {
            console.log("22")
        }
        return true;
    };

</script>
{% endblock scripts %}